/* CSS - No está hecho para que sea responsive */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toggleSwitch {
    height: 100px;
    width: 200px;
    background-color: black;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

button {
    height: 100%;
    width: 80px;
    border-radius: 60px;
    background-color: #333;
    border: 1px #767676 solid;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
